<div>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon><i class="fa-solid fa-bars"></i></mat-icon>
        </button>
        <div class="spacer">
            <span class="navbar-title">BACKOFFICE</span>
        </div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon><i class="fas fa-duotone fa-circle-user"></i></mat-icon>
        </button>
    </mat-toolbar>
</div>