<div class="container-form">
    <div class="register-links">
        <a href="#">Aún no tienes cuentas?</a>
        <a href="#">Regístrate ahora</a>
    </div>
    <div class="form-items">
        <p class="form-title">Iniciar sesión en Coink</p>
        <div class="email-field">
            <label for="email">Correo Electrónico</label>
            <mat-form-field appearance="outline">
                <input type='email' id='email' matInput placeholder="Ingresa tu usuario">
                <mat-icon matSuffix><i class="far fa-regular fa-user"></i></mat-icon>
            </mat-form-field>
        </div>
        <div>
            <label for="password">Contraseña</label>
            <mat-form-field appearance="outline">
                <input type="password" name="password" matInput placeholder="Ingresa tu password">
                <mat-icon matSuffix><i class="far fa-regular fa-eye"></i></mat-icon>
            </mat-form-field>
        </div>
        <div>
            <input type="checkbox" name="remember">
            <span>Recuerdame</span>
        </div>
        <div class="form-send">
            <button class='button-form' mat-raised-button [routerLink]="['../dashboard']">
                Iniciar sesión
            </button>
            <a href="">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
</div>