@font-face {
  font-family: "Avenir-Heavy";
  src: url("/src/assets/fonts/Avenir_Heavy.ttf");
}

aside {
  width: 241px;
  background-color: #ffffff;
}

.mat-toolbar.mat-primary {
  background: #004b40;
}

.mat-icon-button {
  width: 100%;
}

.spacer {
  display: flex;
  flex: 1 1 auto;
}

img {
  height: 30px;
}

.avatar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

.img-avatar {
  height: 67px;
  width: 67px;
  border-radius: 50%;
  background-color: #d1fbd9;
  box-shadow: 0px 3px 8px #00000029;
}

.text-avatar {
  margin-top: 8px;
}

.text-avatar span {
  margin-left: 8px;
}

hr {
  margin: 11px 0px 40px 0px;
}

.accordion-body,
.accordion-button {
  padding: 0;
}

.accordion-button {
  padding: 14px 23px 14px 53px;
  color: white;
  font-size: 1rem;
  background-color: #004b40;
}

.accordion-button::after {
  font: var(--fa-font-solid);
  content: "\f0dd";
  background-image: none;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.accordion-item {
  border: none;
}

.accordion-item h2 {
  margin-bottom: 0px;
  font-family: "Avenir-Heavy";
}

.mat-raised-button {
  padding: 0px 0px 0px 53px;
  text-align: left;
  white-space: normal;
  line-height: 18px;
}

.button-form {
  height: 38px;
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
  color: #004b40;
  margin: 5px 0px 10px;
  box-shadow: none;
  font-family: "Avenir-Heavy";
}
