<mat-toolbar color="primary">
    <span class="spacer"></span>
    <button mat-icon-button class="icon" aria-label="menu icon">
        <img src="assets/images/logo-menu.png" alt="logo-menu">
    </button>
    <span class="spacer"></span>
</mat-toolbar>
<aside>
    <div class="avatar-info">
        <div class="img-avatar"></div>
        <div class="text-avatar">
            <i class='far fa-solid fa-lock'></i>
            <span>jeff</span>
        </div>
    </div>
    <hr>
    <div class="menu-options">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Tarjetas Visa en Dispensadores
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button class='button-form' mat-raised-button>
                            Crear dispensador
                        </button>
                        <button class='button-form' mat-raised-button>
                            Monitorear y editar dispensadores
                        </button>
                        <button class='button-form' mat-raised-button>
                            Solicitud tarjetas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>